<%
const data = {
    title: 'Sub',
    description: '',
    keywords: '',
    ogurl: '',
    ogimage: '',
    ogsitename: '',
    canonical: '',
    pageId: 'sub',
    headerStyle: '',
    pathEjs: '../',
    path: './',
    pathAssets: './assets/',
    pathCommon: './assets/images/common/',
    pathImg: './assets/images/img/top/',
    pathIcon: './assets/images/icon/',
    pathLogo: './assets/images/logo/',
}
%>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include(`${data.pathEjs}_ejs/head`, {data: data}) %>
</head>
<body>
    <h1>subページ</h1>
    <p>下層ページです</p>
    <div>
        <img src="../assets/images/img/img_sample.svg" alt="SVG">
    </div>
    <div>
        <img src="../assets/images/icon/icon_sample.svg" alt="icon">
    </div>
</body>
</html>
